@use "./variables.scss" as *;

@mixin box($width, $height: $width) {
  min-width: $width;
  min-height: $height;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-column {
  @include flex-center;
  flex-direction: column;
}

@mixin tablet {
  @media only screen and (min-width: ($tablet * 1px)) {
    @content;
  }
}

@mixin large {
  @media only screen and (min-width: ($large * 1px)) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: ($desktop * 1px)) {
    @content;
  }
}

@mixin fade($type) {
  @if $type== "hide" {
    visibility: hidden;
    opacity: 0;
    transition:
      visibility 0.5s ease-in-out,
      opacity 0.5s ease-in-out;
  } @else if $type== "show" {
    visibility: visible;
    opacity: 1;
    transition:
      visibility 0.5s ease-in-out,
      opacity 0.5s ease-in-out;
  }
}

@mixin slideDown($type) {
  transform-origin: top;
  
  @if $type== "hide" {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-30px);
    transition:
      visibility 0.3s ease,
      opacity 0.3s ease,
      transform 0.3s ease;
  } @else if $type== "show" {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition:
      visibility 0.3s ease,
      opacity 0.3s ease,
      transform 0.3s ease;
  }
}
