$tablet: 768;
$large: 1024;
$desktop: 1240;

$black-primary: #000;
$white-primary: #fff;
$gray-primary: #d3d3d3;
$red-gradient: linear-gradient(102.57deg, #dc0916, #f41fd6 100%, #f41fd6);

$bg-primary: #1e2222;
$bg-secondary: #242526;
