@use "../abstracts" as *;

.link-underline {
  position: relative;
  display: inline-block;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.2em;
    width: 100%;
    height: 0.1em;
    background: $red-gradient;

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease;
  }

  &:hover::after,
  &.is-active::after {
    transform: scaleX(1);
  }
}
