@use "../base" as *;
@use "../abstracts" as *;

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    min-height: 70vh;
    background-color: $bg-secondary;
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    gap: 40px;
    z-index: 100;
    box-shadow: 0 0 10px rgba($black-primary, 0.5);
    @include desktop {
        display: flex;
    }

    &--hidden {
        @include slideDown("hide");
        display: none;
    }

    &--visible {
        @include slideDown("show");
        
        @include desktop {
            display: flex;
        }
    }

    &__nav {
        width: 30%;
    }

    &__list {
        width: 100%;
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 40px;
    }

    &__item {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        position: relative;
        font-size: remCalc(16px);
        font-family: $font-secondary;
        color: $gray-primary;
        cursor: pointer;
        transition: color 0.3s ease;

        &:hover {
            color: $white-primary;
        }

        &--active {
            color: $white-primary;

            &::after {
                background-color: $white-primary;
            }
        }

        &::after {
            content: "";
            display: inline-block;
            width: 100%;
            height: 2px;
            background-color: $gray-primary;
            position: absolute;
            right: 0;
            bottom: -10px;
            transition: background-color 0.3s ease;
        }

        &--arrow {
            width: 25px;
            height: 25px;
        }
    }

    &__content {
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 20px;
    }

    &__title {
        font-size: remCalc(24px);
        font-family: $font-primary;
        color: $white-primary;
        transition: opacity 0.2s ease;
    }

    &__description {
        font-size: remCalc(16px);
        font-family: $font-secondary;
        line-height: 2;
        color: $gray-primary;
        transition: opacity 0.2s ease;
    }

    &__cta {
        width: fit-content;
        border: 1px solid $white-primary;
        border-radius: 25px;
        padding: 10px 20px;
        gap: 10px;
    }
    
    &__link {
        display: inline-block;
        text-decoration: none;
        font-size: remCalc(16px);
        font-family: $font-secondary;
        color: $white-primary;
    }
}