@use "../abstracts" as *;
@use "../base" as *;

.filter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 20px;

  &__btn {
    padding: 0 remCalc(20px);
    min-width: remCalc(100px);
    min-height: remCalc(35px);
    border: 1px solid $white-primary;
    background: transparent;
    cursor: pointer;
    font-weight: 500;
    position: relative;
    transition: color 0.3s ease;
    border-radius: 50px;
    color: $white-primary;
    font-family: $font-primary;
    font-size: remCalc(14px);

    &:hover {
      color: $black-primary;
      background-color: $white-primary;
    }
  }
}


