@use "../abstracts" as *;
@use "../base" as *;

.filter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  padding: 20px;

  @media only screen and (max-width: 650px) {
    overflow-x: auto;
    gap: 0.5rem;
  }

  &__btn {
    padding: 0 remCalc(20px);
    min-width: remCalc(100px);
    min-height: remCalc(35px);
    border: 1px solid $white-primary;
    background: transparent;
    cursor: pointer;
    font-weight: 500;
    position: relative;
    transition: all 0.3s ease;
    border-radius: 50px;
    color: $white-primary;
    font-family: $font-primary;
    font-size: remCalc(14px);

    @media only screen and (max-width: 650px) {
    font-size: remCalc(12px);
      
    }
    &:hover {
      color: $black-primary;
      background-color: $white-primary;
    }
  
    &.is-active {
      background-color: $white-primary;
      color: $black-primary;
      border-color: $white-primary;
      font-weight: 600;
    }
  }

  }



