@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Regular.ttf") format("ttf");
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "montserrat";
  src: url("/assets/fonts/montserrat.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Montserrat', sans-serif;

